# Step 2: Generate summary data for single advisor

Generate summary data as html tables for single advisor.
* create summary data for each section (i.e., pivot table of responses)
* get comments
* split topics (comma-separated responses)
* combine summary data

## 1. Set variables

In [2]:
# files to open
access_eval = 'ACCESS Advising Evaluation (Responses).xlsx'
soc_eval = 'SOC Advising (Responses).xlsx'

# time variables
filter_year = 2025
filter_month = 12

# questions to remove
# November 2025 survey questions changed and Google Sheets was reindexed.
# Starting December 2025, questions do not need to be removed.

# text to remove from each question
eval_remove_text = ['Please evaluate your advising session',
                    'Please evaluate the advisor',
                    'Overall advising appointment',
                    '[',
                    ']',
                    '.',
                    ':',
                    'Check all that apply.']

# text to replace
comments_replace = ['Please feel free to make additional comments of the above questions', 'Additional comments?']

# Likert scale values
likert_scale_values_access = {'Strongly Agree (5)': 5,
                              'Agree (4)': 4,
                              'Neutral (3)': 3,
                              'Disagree (2)': 2,
                              'Strongly Disagree (1)': 1,
                              'Not Applicable (0)': 0,
                              'Blank': 0,
                              'Excellent (5)': 5,
                              'Good (4)': 4,
                              'Average (3)': 3,
                              'Fair (2)': 2,
                              'Poor (1)': 1,
                              'Blank': 0}
likert_scale_values_soc = {'Strongly agree': 5,
                           'Agree': 4,
                           'Neutral': 3,
                           'Disagree': 2,
                           'Strongly Disagree': 1,
                           'Excellent': 5,
                           'Good': 4,
                           'Average': 3,
                           'Fair': 2,
                           'Poor': 1}

# meeting types
meeting_types = ['Via email', 'Via phone', 'Via Zoom', 'In person']

## 2. Load and clean data (from Step 1)

In [3]:
# load libraries
import pandas as pd
from IPython.display import display, HTML  # library to display html in notebook

In [4]:
# load data
access_df = pd.read_excel(access_eval)
soc_df = pd.read_excel(soc_eval)

In [5]:
# clean data
def clean_data(df, text_remove_list, text_replace_list):
    for i in text_remove_list:
        df.columns = df.columns.str.replace(i, '')

    for i in text_replace_list:
        df.columns = df.columns.str.replace(i, 'Comments')

    df.columns.str.strip()

    df = df[df['Timestamp'].dt.year == filter_year]
    df = df[df['Timestamp'].dt.month == filter_month]

    df = df.fillna('No Response')
    
    return df

# clean data
access_df = clean_data(access_df, eval_remove_text, comments_replace)
soc_df = clean_data(soc_df, eval_remove_text, comments_replace)

In [6]:
# check data
access_df

,Timestamp,Advisor,I am more aware of the opportunities and options available to me,I am better able to select courses and evaluate my academic progress,I feel more confident about deciding my next steps,The advisor was informative and knowledgeable,The advisor was respectful and listened carefully to what I shared,I was satisfied with how my advisor handled my questions,It was easy to talk to my advisor,My overall evaluation of this advising appointment is,My overall evaluation of this advisor is,Comments
6350,2025-12-01 12:51:05.322,Nanette Miles,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),I have been speaking with Nanette for over one...
6351,2025-12-02 11:40:59.414,Marilou Matsuura,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),"Thank you for all of your help, Marilou!"
6352,2025-12-03 06:13:57.428,AJ Simpao,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),AJ is the utmost encouraging advisor and I lea...
6353,2025-12-03 20:36:38.047,AJ Simpao,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),All of my doubts and questions were answered d...
6354,2025-12-04 04:49:57.400,Marilou Matsuura,Neutral (3),Neutral (3),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),There really wasn't much we could do about a D...
6355,2025-12-04 07:41:58.238,Keiko Knudson,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),"Keiko is a great advisor, very friendly and in..."
6356,2025-12-05 23:37:46.999,Jason Higa,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),Very helpful and knowledgeable about registrat...
6357,2025-12-09 23:04:13.640,Keiko Knudson,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),No Response

## 3. Filter data for a single advisor

In [12]:
# filter data for a single advisor

# create dynamic list of advisors based on filtered month and year
# example test code: advisor_list = sorted(df['Advisor'].dropna().unique().tolist())

filtered_advisor = access_df[access_df['Advisor'].str.startswith('Keiko')]

In [13]:
# check data
filtered_advisor

,Timestamp,Advisor,I am more aware of the opportunities and options available to me,I am better able to select courses and evaluate my academic progress,I feel more confident about deciding my next steps,The advisor was informative and knowledgeable,The advisor was respectful and listened carefully to what I shared,I was satisfied with how my advisor handled my questions,It was easy to talk to my advisor,My overall evaluation of this advising appointment is,My overall evaluation of this advisor is,Comments
6355,2025-12-04 07:41:58.238,Keiko Knudson,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),"Keiko is a great advisor, very friendly and in..."
6357,2025-12-09 23:04:13.640,Keiko Knudson,Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Strongly Agree (5),Excellent (5),Excellent (5),No Response

## 4. Create summary for Likert scale responses

In [15]:
# list to store summary of scores for each question

# get list of questions

# get total number of responses

In [ ]:
# check data

In [ ]:
# loop through questions and count scores
# loop 1: questions
# loop 2: scale
#    count = (df[question] == scale).sum()
#    percent = count / total * 100
#    display_count = f'{count}<br>{percent:.1f}%'  # combines count and percent into single value
#    summary.append({
#        'Question': question,
#        'Score': scale,
#        'Count': display_count
#    })

In [ ]:
# check data

**Pivot summary data**

pandas.DataFrame.pivot (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html)

In [ ]:
# convert to DataFrame

# pivot summary data

In [ ]:
# reorder columns
# df[scale].loc[questions]

# remove 'Score' label
# df.columns.name = None

In [ ]:
# check data

**Convert to html table**

pandas.DataFrame.to_html (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_html.html)

In [ ]:
# convert to html table

In [ ]:
# display html table
# display(HTML(html_table))

## 5. Get comments

In [ ]:
# get list of comments

# exclude 'No Response"

# convert to dataframe

# convert to html table

# set to empty string if there are no comments

In [ ]:
# display html table
# display(HTML(html_table))

## 6. Split topics (comma-separated responses)

In [ ]:
# list to store topics 

# get responses

# split responses (use for loop))

    # replace response that contains a comma

    # split values by comma

    # add topic to list

# convert to dataframe

# create summary

# convert to html table

# add disclaimer at the bottom

In [ ]:
# display html table
# display(HTML(html_table))

## 7. Combine summary data (put html tables together)

In [ ]:
# set header and pagebreak

# combine header + html tables + pagebreak

# create full html page

# save as html file

## âœ¨ Congratulations on finishing the really hard part!