# Test Code

In [ ]:
# read in file

import pandas as pd

df = pd.read_excel('ACCESS Advising Evaluation (Responses).xlsx')

advisor_list = sorted(df['Advisor'].dropna().unique().tolist())

print(advisor_list)

In [ ]:
# sample data

data = {'Feedback': ['Strongly Agree', 'Agree', 'Neutral', 'Disagree', 'Strongly Disagree']}
df = pd.DataFrame(data)

# Define order
likert_map = {'Strongly Disagree': 1, 'Disagree': 2, 'Neutral': 3, 'Agree': 4, 'Strongly Agree': 5}

# Applying mapping
df['Feedback_Score'] = df['Feedback'].map(likert_map)

df

In [ ]:
access_survey = {
    'question 1': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    },
    'question 2': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    },
    'question 3': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    }
}

print(access_survey['question 1'][5])

In [ ]:
for i, j in access_survey.items():
    print(f'question: {i}')
    
    for key, value in j.items():
        print(f' {key} {value}')

In [ ]:
import pandas as pd

data = {
    "ease of use": [5, 4, 4, 3, 5],
    "design": [4, 2, 3, 2,4],
    "speed": [5, 5, 4, 5, 4]
}

df = pd.DataFrame(data)

df

In [ ]:
df.describe()

In [ ]:
df['ease of use'].mean()

In [1]:
import pandas as pd

data = {
    'Q1_Easy_to_use': [5, 4, 4, 3, 5, 2, 4],
    'Q2_Fast_loading': [3, 3, 2, 1, 4, 5, 2],
    'Q3_Good_design': [4, 5, 4, 4, 3, 3, 5]
}

df = pd.DataFrame(data)

counts = df.apply(pd.Series.value_counts).fillna(0).astype(int)

counts

   Q1_Easy_to_use  Q2_Fast_loading  Q3_Good_design
1               0                1               0
2               1                2               0
3               1                2               2
4               3                1               3
5               2                1               2

In [10]:
import pandas as pd

# Sample DataFrame
data = {'ID': [1, 2, 3], 'Values': ['x,y', 'z,w', 'a,b,c']}
df = pd.DataFrame(data)

# Split the 'Values' column into a list within the same column
df['Values_List'] = df['Values'].str.split(',')
df['Values_List'].explode()

print(df[['ID', 'Values_List']])

   ID Values_List
0   1      [x, y]
1   2      [z, w]
2   3   [a, b, c]

In [5]:
print(data)

{'ID': [1, 2, 3], 'Values': ['x,y', 'z,w', 'a,b,c']}

In [11]:
df

   ID Values Values_List
0   1    x,y      [x, y]
1   2    z,w      [z, w]
2   3  a,b,c   [a, b, c]

In [8]:
import pandas as pd

# Sample Series with lists
s_split = pd.Series([['apple', 'banana', 'cherry'], ['dates', 'elderberry'], ['fig']])

# Explode the list into separate rows
s_exploded = s_split.explode()

print(s_exploded)

0         apple
0        banana
0        cherry
1         dates
1    elderberry
2           fig
dtype: object