# Test Code

In [2]:
# read in file

import pandas as pd

df = pd.read_excel('ACCESS Advising Evaluation (Responses).xlsx')

advisor_list = sorted(df['Advisor'].dropna().unique().tolist())

print(advisor_list)

['AJ Simpao', 'Barbara Joyce', 'Candace (MPA)', 'Christian (MPA)', 'Dawn', 'Dawn Nishida', 'Dr. Barbara Joyce', 'Evans Ego', 'Janna Mae (MPA)', 'Jason', 'Jason Higa', 'Jennifer', 'Jennifer Oshiro', 'Kalei', 'Kalei Keolanui', 'Karimah (Peer Advisor)', 'Keiko Knudson', 'Marilou Matsuura', 'Mark Oxley', 'Nanette Miles', 'Steffanie Sobitz', 'Sunhee Kim Fujii', 'Teana (MPA)', 'Vanessa', 'Vanessa Chong']

In [5]:
# sample data

data = {'Feedback': ['Strongly Agree', 'Agree', 'Neutral', 'Disagree', 'Strongly Disagree']}
df = pd.DataFrame(data)

# Define order
likert_map = {'Strongly Disagree': 1, 'Disagree': 2, 'Neutral': 3, 'Agree': 4, 'Strongly Agree': 5}

# Applying mapping
df['Feedback_Score'] = df['Feedback'].map(likert_map)

df

            Feedback  Feedback_Score
0     Strongly Agree               5
1              Agree               4
2            Neutral               3
3           Disagree               2
4  Strongly Disagree               1

In [6]:
access_survey = {
    'question 1': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    },
    'question 2': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    },
    'question 3': {
        5: 2,
        4: 1,
        3: 0,
        2: 0,
        1: 0,
        'blank': 0,
        'no reponse': 0
    }
}

print(access_survey['question 1'][5])

2

In [9]:
for i, j in access_survey.items():
    print(f'question: {i}')
    
    for key, value in j.items():
        print(f' {key} {value}')

question: question 1
 5 2
 4 1
 3 0
 2 0
 1 0
 blank 0
 no reponse 0
question: question 2
 5 2
 4 1
 3 0
 2 0
 1 0
 blank 0
 no reponse 0
question: question 3
 5 2
 4 1
 3 0
 2 0
 1 0
 blank 0
 no reponse 0